:root {
  --brand-column-width: 75ch;
  --brand-font-style: normal;
  --brand-font-weight: normal;
  --brand-font-family: "Nunito Sans", sans-serif;
  --brand-font-optical-sizing: auto;
  --brand-font-variant-settings: "wdth" 100, "YTLC" 500;

  --brand-fs-xs:  calc(12/16 * 1rem); 
  --brand-fs-s:   calc(14/16 * 1rem);
  --brand-fs-m:   calc(16/16 * 1rem);
  --brand-fs-l:   calc(20/16 * 1rem);
  --brand-fs-xl:  calc(24/16 * 1rem);
  --brand-fs-2xl: calc(32/16 * 1rem);
  --brand-fs-3xl: calc(40/16 * 1rem);
  --brand-fs-4xl: calc(48/16 * 1rem);
  --brand-fs-5xl: calc(56/16 * 1rem); 

  --brand-lh: calc(1em + 0.5rem);

  --brand-font-xs:  var(--brand-font-style) var(--brand-font-weight) var(--brand-fs-xs)/var(--brand-lh)  var(--brand-font-family); 
  --brand-font-s:   var(--brand-font-style) var(--brand-font-weight) var(--brand-fs-s)/var(--brand-lh)   var(--brand-font-family);
  --brand-font-m:   var(--brand-font-style) var(--brand-font-weight) var(--brand-fs-m)/var(--brand-lh)   var(--brand-font-family);
  --brand-font-l:   var(--brand-font-style) var(--brand-font-weight) var(--brand-fs-l)/var(--brand-lh)   var(--brand-font-family);
  --brand-font-xl:  var(--brand-font-style) var(--brand-font-weight) var(--brand-fs-xl)/var(--brand-lh)  var(--brand-font-family);
  --brand-font-2xl: var(--brand-font-style) var(--brand-font-weight) var(--brand-fs-2xl)/var(--brand-lh) var(--brand-font-family);
  --brand-font-3xl: var(--brand-font-style) var(--brand-font-weight) var(--brand-fs-3xl)/var(--brand-lh) var(--brand-font-family);
  --brand-font-4xl: var(--brand-font-style) var(--brand-font-weight) var(--brand-fs-4xl)/var(--brand-lh) var(--brand-font-family);
  --brand-font-5xl: var(--brand-font-style) var(--brand-font-weight) var(--brand-fs-5xl)/var(--brand-lh) var(--brand-font-family);
}

.brand-display {
  --brand-font-variant-settings: "wdth" 75, "YTLC" 500;
}

/* Colors */

:root {
  --brand-color-on-surface:           black;
  --brand-color-on-surface-variant:   grey;
  --brand-color-surface:              white;

  --brand-color-on-primary:           white;
  --brand-color-primary:              #006131;

  --brand-color-on-secondary:         #006131;
  --brand-color-secondary:            #97ff03;

  --brand-color-on-tertiary:           #006131;
  --brand-color-tertiary:             white;
}
