body {
  margin: 0;
  padding: 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  font: var(--brand-font-m);
}

h1 {
  margin-top: 0;
  font: var(--brand-font-xl);
  font-weight: bold;
}
