/* Reset */

:host {
  display: block;
}

.box {
  padding: 2lh;
  background-color: var(--_background-color);
  color: var(--_text-color);
}

.primary {
  --_background-color: var(--brand-color-primary);
  --_text-color: var(--brand-color-on-primary);
}

.secondary {
  --_background-color: var(--brand-color-secondary);
  --_text-color: var(--brand-color-on-secondary);
}

.tertiary {
  --_background-color: var(--brand-color-tertiary);
  --_text-color: var(--brand-color-on-tertiary);
}
