/* MSC Brand Tokens CSS */

/* Fonts */

:root {
  --msc-font-style: normal;
  --msc-font-weight: normal;
  --msc-font-family: "Lato", "Arial", sans-serif;
  --msc-font-xxs: var(--msc-font-style) var(--msc-font-weight) calc(11/16 * 1rem)/calc(15/16 * 1rem) var(--msc-font-family); 
  --msc-font-xs:  var(--msc-font-style) var(--msc-font-weight) calc(14/16 * 1rem)/calc(21/16 * 1rem) var(--msc-font-family);
  --msc-font-sm:  var(--msc-font-style) var(--msc-font-weight) calc(16/16 * 1rem)/calc(24/16 * 1rem) var(--msc-font-family);
  --msc-font-md:  var(--msc-font-style) var(--msc-font-weight) calc(18/16 * 1rem)/calc(28/16 * 1rem) var(--msc-font-family);
  --msc-font-lg:  var(--msc-font-style) var(--msc-font-weight) calc(21/16 * 1rem)/calc(32/16 * 1rem) var(--msc-font-family);
  --msc-font-xl:  var(--msc-font-style) var(--msc-font-weight) calc(28/16 * 1rem)/calc(40/16 * 1rem) var(--msc-font-family);
  --msc-font-xxl: var(--msc-font-style) var(--msc-font-weight) calc(38/16 * 1rem)/calc(48/16 * 1rem) var(--msc-font-family);
}

/* Colors */

:root,
.msc-light-mode {
  --msc-color-h1: hsl(219deg 100% 50%);
  --msc-color-h2: hsl(219deg 100% 50%);
  --msc-color-h3: hsl(219deg 100% 50%);
  --msc-color-h4: hsl(235deg 100% 33%);
  --msc-color-h5: hsl(235deg 100% 33%);
  --msc-color-h6: hsl(219deg 2% 38%);
  --msc-color-body-text: hsl(219deg 2% 13%);
  --msc-color-body-background: white;
  --msc-color-interaction: hsl(235deg 100% 33%);
  --msc-color-on-interaction: white;
  --msc-color-interaction-hover: hsl(219deg 100% 50%);
  --msc-color-interaction-visited: hsl(221deg 34% 48%);
  --msc-color-interaction-focus: hsl(219deg 100% 50%);
  --msc-color-interaction-active: hsl(219deg 100% 50%);
}

.msc-dark-mode {
  --msc-color-h1: hsl(219deg 100% 64%);
  --msc-color-h2: hsl(219deg 100% 64%);
  --msc-color-h3: hsl(219deg 100% 64%);
  --msc-color-h4: hsl(219deg 17% 93%);
  --msc-color-h5: hsl(219deg 17% 93%);
  --msc-color-h6: hsl(219deg 17% 74%);
  --msc-color-body-text: hsl(219deg 17% 88%);
  --msc-color-body-background: black;
  --msc-color-interaction: hsl(208deg 100% 50%);
  --msc-color-on-interaction: black;
  --msc-color-interaction-hover: hsl(219deg 17% 88%);
  --msc-color-interaction-visited: hsl(220deg 32% 64%);
  --msc-color-interaction-focus: hsl(219deg 17% 88%);
  --msc-color-interaction-active: hsl(219deg 17% 88%);
}

.msc-light-mode,
.msc-dark-mode {
  background: var(--msc-color-body-background);
  color: var(--msc-color-body-text);
}
