/* Reset */

:host {
  display: inline-block;
}

.button {
  // Init vars
  --_outline-color: currentColor;
  --_border-color: transparent;
  --_background-color: none;
  --_text-color: currentColor;

  cursor: pointer;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: fit-content;
  height: fit-content;
  min-width: calc(1lh + 1.25rem);
  min-height: calc(1lh + 1.25rem);
  padding: 0 calc(1lh);
  border: 1px solid var(--_border-color);
  border-radius: 0 0.75em 0.75em 0.75em;
  font: var(--brand-font-m);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background: var(--_background-color);
  color: var(--_text-color);
  transition: filter 0.2s linear;
}

.primary {
  &.solid {
    --_background-color: var(--brand-color-primary);
    --_text-color: var(--brand-color-on-primary);
    --_outline-color: var(--brand-color-primary);
  }

  &.outlined {
    --_background-color: var(--brand-color-on-primary);
    --_text-color: var(--brand-color-primary);
    --_border-color: currentColor;
    --_outline-color: var(--brand-color-primary);
  }
}

.on-primary {
  &.solid {
    --_background-color: var(--brand-color-on-primary);
    --_text-color: var(--brand-color-primary);
    --_outline-color: var(--brand-color-on-primary);
  }

  &.outlined {
    --_background-color: var(--brand-color-primary);
    --_text-color: var(--brand-color-on-primary);
    --_border-color: currentColor;
    --_outline-color: currentColor;
  }
}

.secondary {
  &.solid {
    --_background-color: var(--brand-color-secondary);
    --_text-color: var(--brand-color-on-secondary);
    --_outline-color: var(--brand-color-secondary);
  }

  &.outlined {
    --_background-color: var(--brand-color-on-secondary);
    --_text-color: var(--brand-color-secondary);
    --_border-color: currentColor;
    --_outline-color: var(--brand-color-secondary);
  }
}

.on-secondary {
  &.solid {
    --_background-color: var(--brand-color-on-secondary);
    --_text-color: var(--brand-color-secondary);
    --_outline-color: var(--brand-color-on-secondary);
  }

  &.outlined {
    --_background-color: var(--brand-color-secondary);
    --_text-color: var(--brand-color-on-secondary);
    --_border-color: currentColor;
    --_outline-color: currentColor;
  }
}

.on-tertiary {
  &.solid {
    --_background-color: var(--brand-color-on-tertiary);
    --_text-color: var(--brand-color-tertiary);
  }

  &.outlined {
    --_background-color: var(--brand-color-tertiary);
    --_text-color: var(--brand-color-on-tertiary);
    --_border-color: currentColor;
  }
}

.button {
  &:hover {
    filter: brightness(125%);
  }
  &:focus {
    outline: 2px solid var(--_outline-color);
    outline-offset: 2px;
  }
  &:hover:focus {
    outline: none;
  }
  &:active {
    filter: brightness(100%);
  }
}
