/* Reset */

:host {
  display: inline-block;
}

.button {
  // Init vars
  --_background-color: none;
  --_font-fs-lh: var(--brand-fs-m)/var(--brand-lh);
  --_font-family: var(--brand-font-family);
  --_font: normal 400 var(--_font-fs-lh, 1em/1lh) var(--_font-family);
  --_padding: 0;
  --_text-color: inherit;
  --_underline-color: transparent;

  cursor: pointer;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: var(--_padding, 0);
  border: 1px solid var(--_border-color, transparent);
  border-radius: 0 0.75em 0.75em 0.75em;
  box-shadow: none;
  font: var(--_font);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background: var(--_background-color);
  color: var(--_text-color);
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s, color 0.2s, outline 0.2s;
}

/* Block variants */

.primary,
.secondary,
.tertiary {
  width: fit-content;
  height: fit-content;
  min-width: calc(1lh + 1.25rem);
  min-height: calc(1lh + 1.25rem);
  padding: 0 calc(1lh);
}

.primary {
  --_background-color: var(--brand-color-primary);
  --_text-color: var(--brand-color-on-primary);

  &.outlined {
    --_background-color: var(--brand-color-on-primary);
    --_text-color: var(--brand-color-primary);
  }
}

.secondary {
  --_background-color: var(--brand-color-secondary);
  --_text-color: var(--brand-color-on-secondary);

  &.outlined {
    --_background-color: var(--brand-color-on-secondary);
    --_text-color: var(--brand-color-secondary);
  }
}

.tertiary {
  --_background-color: var(--brand-color-tertiary);
  --_text-color: var(--brand-color-on-tertiary);

  &.outlined {
    --_background-color: var(--brand-color-on-tertiary);
    --_text-color: var(--brand-color-tertiary);
  }
}

.outlined {
  --_border-color: currentColor;
}
